.CartComp{
    width: 100vw;
    height:100%;
    overflow-x: hidden;
    


    .cart{
        margin-bottom: 200px;
    }

    .checkout{
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .checkoutone{
        margin-bottom: 50px;
    }

    .checkouttwo{
        width: 80%;
        margin-bottom: 50px;
    }

    .total{
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .PriceText{
    margin-left:100px;
    }

    .CheckoutButton{
        margin-top:40px;
        bottom: 30px;
        :nth-child(1){
            font-size: 20px;
        }
    }
}