.appCont{
    width: 100vw;
    height:100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .orderCont{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 80px;
    

        .CurrentButton{
            margin:20px;
            :nth-child(1){
                font-size: 20px;
            }
        }
    }
}