.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    
}

.cart{
    margin-bottom: 200px;
}

.checkout{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutone{
    margin-bottom: 50px;
}

.total{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.TotalText{

}

.PriceText{
  margin-left:30px;
}

.button{
    display: flex;
    justify-content: center;
    padding:50px 0px;
}