.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    
}

.cart{
    margin-bottom: 200px;
}

.checkout{
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutone{
    margin-bottom: 50px;
}

.total{
    display: flex;
    // justify-content: center;
    margin-bottom: 70px;
    font-weight: bold;
}

.TotalText{
    display:flex;
    position:relative;
}

.PriceText{
    position:absolute;
    right:15px;
}

.button{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}