.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.checkout{
    margin-bottom: 300px;
    // display: flex;
    // justify-content: center;
}

.total{
    // display: flex;
    // justify-content: center;
}