.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}

.CoverImage{
    height: 40%;
    background-image: url("/alex.jpg");
    background-position: center;
    background-size: contain;
}

.ChefDesc{
    
    width: 65%;
    margin: 15px;
    p{
        margin-top: -15px;
    }
}

.AvatarBox{
    height:0px;
    position: relative;
    z-index: 1;
    top: -150px;
    left: 270px;
    a{
        margin-left:10px;
        color: #2B445E;
    }   
}


.ReviewProfile{
    display: flex;

    a{
        margin: 20px 0 0 10px;
        font-size: 18px;
    }
}

.ProfileAvatar{
  
}


.rating{
    display: flex;
}



.Nav{
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
}


