.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}

.OrderConfirmed{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin:40px 0;
}

.button{
    display: flex;
    justify-content: center;
    bottom: 50px;
    position: absolute;
}