.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    
}

.cart{
    margin-bottom: 200px;
}

.checkout{
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkoutone{
    margin-bottom: 50px;
}

.checkouttwo{
    margin-bottom: 50px;
}

.total{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.PriceText{
  margin-left:100px;
}

.ButtonBox{
    position: absolute;
    bottom: 50px;
    :nth-child(1){
        font-size: 20px;
    }
}