.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}

.CoverBox{
    height: 40%;
    background-position: center;
    background-size: contain;
}

.optionCont{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ChefDesc{
    height:8%;
    width: 65%;
    margin: 15px;
    color: #24B574;
    p{
        color: black;
        margin-top: -15px;
    }
}

.Nav{
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
}