.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
    h3{
        margin: 15px;
        color:#24B574;
    }
}


.ConfirmedOrders{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Nav{
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    :nth-child(1){
        font-size: 12px;
    }
}
