.CreateItemApp{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;

    .content{
        display:flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
       
        .Alert{
            position: fixed;
            top:30%;
            z-index: 1;
        }

        .TopBox{
            display:flex;
            h3{
                margin-left: -45px;
                color:#1E9761;
            }

            .backBox{
                position: relative;
                left: -90px;
                top: 10px;
            }
        }



        .InputBox{
            :nth-child(1){
                font-size: 20px;
                text-align: center;
            }
        }

        .InputPrice{
            display:flex;
            justify-content: space-around;
            margin:20px 0 0 80px;

        }
        
        .TagBox{
            margin: 20px;
        }
        
        .descBox{
            margin: 20px;
        }
        
        .addPhotoBox{
            margin: 15px;
        }

        .noteBox{
            margin: 10px;
        }
        
        .dateBox{
            margin: 10px;
        }
        
        .buttonBox{
            margin: 15px;
            :nth-child(1){
                font-size: 20px;
            }
        }
    }
    
}

