.app{
    width: 100vw;
    height:100vh;
    overflow-x: hidden;
}


.backbutton {
    position: relative;
    margin: 10px;
}

.SearchBox{
    margin-bottom: 20px;
}

.foodcovers {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: center;
}


.Nav{
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    :nth-child(1){
        font-size: 12px;
    }
}
